<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>26844741312-hghtr2kinjt052s35pieusmst3rdpc22.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.26844741312-hghtr2kinjt052s35pieusmst3rdpc22</string>
	<key>API_KEY</key>
	<string>AIzaSyAxAqk_lZrb1L2vbkfneurKfWIIHrMphZg</string>
	<key>GCM_SENDER_ID</key>
	<string>26844741312</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>uk.ptpush.schwartzer</string>
	<key>PROJECT_ID</key>
	<string>ptpushuk</string>
	<key>STORAGE_BUCKET</key>
	<string>ptpushuk.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:26844741312:ios:391677746086711a</string>
	<key>DATABASE_URL</key>
	<string>https://ptpushuk.firebaseio.com</string>
</dict>
</plist>
